<!DOCTYPE html>
<html><head>
    <style>
        .error {color : red;}
    </style>
</head>
<body>

    <h1> Signup </h1>
        <form method="POST">
            <label>Username
                <input name="username" type="text" value="{{username}}">
            </label>
            <p class="error">{{username_error}}</p>
            <label>Password
                <input name="password" type="password" value="{{password}}">
            </label>
            <p class="error">{{password_error}}</p>
            <label>Verify Password
                <input name="vpassword" type="password" value="{{vpassword}}">
            </label>
            <p class="error">{{vpassword_error}}</p>
            <label>Email (optional)
                <input name="email" type="text" value="{{email}}">
            </label>
            <p class="error">{{email_error}}</p>
            <input type="submit" value="Submit Query">
        </form>

</body></html>