<!DOCTYPE html>
<html><head>
    <style>
        .error {color : red;}
    </style>
</head>
<body>

    <h1> User-Signup </h1>
        <form method="POST">
            <label>Username
                <input name="username" type="text" value="{{username}}"><a class="error"> {{username_error}}</a>    
            </label>

            <p></p><label>Password
                <input name="password" type="password" value="{{password}}">
            </label>
            <a class="error"> {{password_error}}</a>
            <p></p><label>Verify Password
                <input name="vpassword" type="password" value="{{vpassword}}">
            </label>
            <a class="error"> {{vpassword_error}}</a>
            <p></p><label>Email (optional)
                <input name="email" type="text" value="{{email}}">
            </label>
            <a class="error"> {{email_error}}</a>
            <p></p><input type="submit" value="Submit Query">
        </form>

</body></html>